/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  │ 30  31  32  33  34 │ │ 35  36  37  38  39 │
  ╰───────╮ 40  41  42 │ │ 43  44  45 ╭───────╯
          ╰────────────╯ ╰────────────╯        */

compatible = "zmk,combos";

#define COMBO(NAME, TIMEOUT, BINDINGS, KEYPOS, LAYERS) \
    combo_##NAME { \
        timeout-ms = <TIMEOUT>; \
        key-positions = <KEYPOS>; \
        bindings = <BINDINGS>; \
        layers = <LAYERS>; \
    };

COMBO(minus, 100, 16 17, &kp MINUS, BASE)
COMBO(equal, 100, 17 18, &kp EQUAL, BASE)
COMBO(quote, 100, 27 28, &kp SQT, BASE)
COMBO(grave, 100, 31 32, &kp GRAVE, BASE)
COMBO(bslsh, 100, 37 38, &kp BSLH, BASE)

