/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  │ 30  31  32  33  34 │ │ 35  36  37  38  39 │
  ╰───────╮ 40  41  42 │ │ 43  44  45 ╭───────╯
          ╰────────────╯ ╰────────────╯        */

compatible = "zmk,combos";

#define COMBO(NAME, TIMEOUT, BINDINGS, KEYPOS, LAYERS) \
    combo_##NAME { \
        timeout-ms = <TIMEOUT>; \
        key-positions = <KEYPOS>; \
        bindings = <BINDINGS>; \
        layers = <LAYERS>; \
    };

COMBO(minus, 40, &kp MINUS, 16 17, BASE)
COMBO(equal, 40, &kp EQUAL, 17 18, BASE)
COMBO(quote, 40, &kp SQT,   27 28, BASE)
COMBO(grave, 40, &kp GRAVE, 31 32, BASE)
COMBO(bslsh, 40, &kp BSLH,  37 38, BASE)

COMBO(btldr, 150, &bootloader, 14 34, BASE)
COMBO(reset, 150, &reset, 13 33, BASE)
COMBO(clear, 150, &bt BT_CLR, 0 2 4, BASE)

