/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "3X-key.h"

/ {
    behaviors {
        #include "behaviors.dtsi"
    };

    combos {
        compatible = "zmk,combos";
        combo_z {
            timeout-ms = <40>;
            key-positions = <0 10>;
            bindings = <&kp Z>;
        };

        combo_b {
            timeout-ms = <40>;
            key-positions = <4 14>;
            bindings = <&kp B>;
        };

        combo_y {
            timeout-ms = <40>;
            key-positions = <5 15>;
            bindings = <&kp N>;
        };

        combo_slash {
            timeout-ms = <40>;
            key-positions = <9 19>;
            bindings = <&kp SLASH>;
        };

        del_t {
	    timeout-ms = <70>;
            key-positions = <26 27>;
            bindings = <&kp DEL>;
        };

        fn_lt {
	    timeout-ms = <70>;
            key-positions = <28 29>;
            bindings = <&lt FUNC TAB>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q       &kp W      &kp E      &kp R           &kp T        &kp Y            &kp U          &kp I      &kp O      &kp P
                &hm LCTRL A &hm LALT S &hm LGUI D &hm LSHFT F     &kp G        &kp H            &hm RSHFT J    &hm RGUI K &hm LALT L &hm RCTRL SEMI
                            &kp X      &kp C      &kp V                                         &kp M          &kp COMMA  &kp DOT
                                                  &lt NAV BKSP    &lt MDA ESC  &lt SYM RET      &lt NUM SPACE
            >;
        };

        nav_layer {
            label = "Nav";
            bindings = <
                &trans     &trans     &trans      &trans          &trans       &trans           &kp HOME       &kp UARW &kp PG_UP  &trans
                &trans     &trans     &trans      &trans          &trans       &trans           &kp LARW       &kp DARW &kp RARW   &trans
                           &trans     &trans      &trans                                        &kp END        &trans   &kp PG_DN
                                                  &trans          &trans       &kp ESC          &kp DEL
            >;
        };

        num_layer {
            label = "Num";
            bindings = <
                &kp LBKT   &kp N7     &kp N8      &kp N9          &kp RBKT      &trans          &trans         &trans      &trans     &trans
                &kp SEMI   &kp N4     &kp N5      &kp N6          &kp EQUAL     &trans          &trans         &trans      &trans     &trans
                           &kp N1     &kp N2      &kp N3                                        &trans         &trans      &trans
                                                  &kp N0          &kp MINUS     &trans          &trans
            >;
        };

        sym_layer {
            label = "Sym";
            bindings = <
                &kp LBRC   &kp LS(N7) &kp LS(N8)  &kp LS(N9)      &kp RBRC      &trans          &trans         &trans      &trans     &trans
                &kp COLON  &kp LS(N4) &kp LS(N5)  &kp LS(N6)      &kp PLUS      &trans          &trans         &trans      &trans     &trans
                           &kp LS(N1) &kp LS(N2)  &kp LS(N3)                                    &trans         &trans      &trans
                                                  &kp LS(N0)      &kp UNDER     &trans          &trans
            >;
        };

        media_layer {
            label = "Media";
            bindings = <
                XXX      XXX      XXX      XXX       XXX  ___  ___            ___          ___          &bt BT_CLR
                &kp LCTL &kp LALT &kp LGUI &kp LSHFT XXX  ___  &kp C_PREV     &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT
                         XXX      XXX      XXX                 &bt BT_SEL 2   &bt BT_SEL 1 &bt BT_SEL 0
                                           ___       ___  &kp C_MUTE   &kp C_PLAY_PAUSE
            >;
        };
    };
};
