#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define QWERTY  1


/ {
	combos {
        compatible = "zmk,combos";
        combo_bootloader {
            timeout-ms = <100>;
            key-positions = <24 27 29 34>;
            bindings = <&bootloader>;
        };
		combo_qwerty {
			timeout-ms = <100>;
			key-positions = <20 21 22 23>;
			bindings = <&tog QWERTY>;
    };	

	keymap {
		compatible = "zmk,keymap";

		default_layer {
// -------------------------------------------------------------------------
// ~/Desktop/lak.png

			bindings = <
	&kp LS(LG(Z)) &kp LC(UP) &kp F11   &kp LC(F2) &kp LS(F11) &kp LS(LG(TAB))   &kp LG(TAB)      &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP 
	&kp LG(Z)     &kp LG(X)  &kp LG(C) &kp LG(V)  &kp LS(F10) &kp LS(LG(GRAVE)) &kp LG(GRAVE)    &kp C_PP   &kp C_PREV   &kp C_NEXT
	&kp Z         &kp X      &kp C     &kp V      &kp LBKT    &kp LS(LC(TAB))   &kp LC(TAB)      &kp SPACE  &kp UP       &kp RET
	&kp LCTRL     &kp LALT   &kp LGUI  &kp LSHFT  &kp RBKT    &kp C_AC_ZOOM_OUT &kp C_AC_ZOOM_IN &kp LEFT   &kp DOWN     &kp RIGHT
			>;
		};

		qwerty_layer {
// ------------------------------------------------------------------------
// Q W E R T Y U I O P
// A S D F G H J K L ;
// Z X C V B N M , . /
// c a g s b s l d u r
			bindings = <
	&kp Q     &kp W    &kp E    &kp R     &kp T    &kp Y     &kp U    &kp I     &kp O   &kp P
	&kp A     &kp S    &kp D    &kp F     &kp G    &kp H     &kp J    &kp K     &kp L   &kp SQT
    &kp Z     &kp X    &kp C    &kp V     &kp B    &kp N     &kp M    &kp COMMA &kp DOT &kp FSLH
	&kp LCTRL &kp LALT &kp LGUI &kp LSHFT &kp BSPC &kp SPACE &kp LEFT &kp DOWN  &kp UP  &kp RIGHT
			>;
		};
	};
};

